
src/.vs/Warspear-Online-Bot/DesignTimeBuild/.dtbcache.v2
src/.vs/Warspear-Online-Bot/v16/.suo
src/Warspear-Online-Bot/bin/Debug/net5.0/Memory.dll
src/Warspear-Online-Bot/bin/Debug/net5.0/ref/Warspear-Online-Bot.dll
src/Warspear-Online-Bot/bin/Debug/net5.0/Warspear-Online-Bot.deps.json
src/Warspear-Online-Bot/bin/Debug/net5.0/Warspear-Online-Bot.dll
src/Warspear-Online-Bot/bin/Debug/net5.0/Warspear-Online-Bot.exe
src/Warspear-Online-Bot/bin/Debug/net5.0/Warspear-Online-Bot.pdb
src/Warspear-Online-Bot/bin/Debug/net5.0/Warspear-Online-Bot.runtimeconfig.dev.json
src/Warspear-Online-Bot/bin/Debug/net5.0/Warspear-Online-Bot.runtimeconfig.json
src/Warspear-Online-Bot/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
src/Warspear-Online-Bot/obj/Debug/net5.0/apphost.exe
src/Warspear-Online-Bot/obj/Debug/net5.0/ref/Warspear-Online-Bot.dll
src/Warspear-Online-Bot/obj/Debug/net5.0/Warspear-Online-Bot.AssemblyInfo.cs
src/Warspear-Online-Bot/obj/Debug/net5.0/Warspear-Online-Bot.AssemblyInfoInputs.cache
src/Warspear-Online-Bot/obj/Debug/net5.0/Warspear-Online-Bot.assets.cache
src/Warspear-Online-Bot/obj/Debug/net5.0/Warspear-Online-Bot.csproj.CopyComplete
src/Warspear-Online-Bot/obj/Debug/net5.0/Warspear-Online-Bot.csproj.CoreCompileInputs.cache
src/Warspear-Online-Bot/obj/Debug/net5.0/Warspear-Online-Bot.csproj.FileListAbsolute.txt
src/Warspear-Online-Bot/obj/Debug/net5.0/Warspear-Online-Bot.csprojAssemblyReference.cache
src/Warspear-Online-Bot/obj/Debug/net5.0/Warspear-Online-Bot.dll
src/Warspear-Online-Bot/obj/Debug/net5.0/Warspear-Online-Bot.GeneratedMSBuildEditorConfig.editorconfig
src/Warspear-Online-Bot/obj/Debug/net5.0/Warspear-Online-Bot.genruntimeconfig.cache
src/Warspear-Online-Bot/obj/Debug/net5.0/Warspear-Online-Bot.pdb
src/Warspear-Online-Bot/obj/project.assets.json
src/Warspear-Online-Bot/obj/project.nuget.cache
src/Warspear-Online-Bot/obj/Warspear-Online-Bot.csproj.nuget.dgspec.json
src/Warspear-Online-Bot/obj/Warspear-Online-Bot.csproj.nuget.g.props
src/Warspear-Online-Bot/obj/Warspear-Online-Bot.csproj.nuget.g.targets
